@font-face {
    font-family: 'RL Madena';
    src: url('/fonts/RL-Madena.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla-VariableFont_wght.woff2');
    font-weight: 100 200 300 400 500 600 700 800 900 1000;
    font-style: normal;
    font-display: swap;
}


:root {
    --primary-colour: #181A18;
    --secondary-colour: var(--yellow);
    --highlight-colour: var(--red);
    --highlight-colour-2: var(--green);
    --white-colour: #FBFAF5;
    --black-colour: #181A18;
    --primary-font: 'RL Madena';
    --primary-font-italic: 'Alegreya', italic;
    --secondary-font: 'Karla', sans-serif;
    --border-radius: 10px;
    --green: #7DCE82;
    --yellow: #FFC52B;
    --yellow-alt: #ffe9ad;
    --yellow-pale: #ffe9ad;
    --red: #B52B0B;
    --blue: #323f61;
    --blue-light: #75cfe0;
    --orange: #f59820;
    --pink: #dc9f9d;
  }

html {
    margin: 0;
    max-width: 3000px;
    background-color: var(--white-colour);
    scroll-behavior: smooth;
}

body  {
    font-family: var(--primary-font), sans-serif;
    background: var(--white-colour);
    color: var(--primary-colour);
    margin: 0px; padding: 0px;
    background-color: var(--white-colour);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}


a img {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
}

p {
    font-size: 1rem;
    line-height: 1em;
    font-weight: 500;
    font-family: var(--secondary-font), sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--primary-font), sans-serif;
    line-height: 1.2em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.accordion h2 {
    font-size: 1.4rem;
}

h3 {
    line-height: 1em;
    font-size: 1.6rem;
    font-weight: 500;    
    margin-bottom: 0em;
}

.home-text h3 {
    margin-bottom: -1rem;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.center {text-align: center;}

.container {
    padding: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.container-full {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-short {
    display: block;
    position: relative;
    width: 90%;
    max-width: 800px;
    padding: 1em;
    margin: 0 auto 0 auto;
}

.logo-box {
    max-width: 100%;
    margin-top: 10px;
    z-index: 10;    
    overflow: visible;
}

.logo-box-show {
    opacity: 1;
    transition: 400ms ease-in-out;
    margin-left: .2em;
}

.mobile-nav>.logo-box-show {
    opacity: 100;
    transition: 400ms ease-in-out;
}

.logo-box::before {
    content: '';
    -webkit-mask: url(/images/paprika-wordmark-black.svg) no-repeat 50% 50%;
    mask: url(/images/paprika-wordmark-black.svg) no-repeat 50% 50%;
    background-color: var(--highlight-colour);
    display: inline-block;
    width: 140px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    padding: none;
    margin: 8px 0 0 20px;
    align-items: center;  
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    mask-size: cover;
    overflow: hidden;
}


.logo-footer.logo-box::before {
    background-color: var(--white-colour);
}

.show-mobile {
    display: block;
    z-index: 9999;
}

.hide-mobile {
    transition: 400ms ease-in-out;
    transform: translate(105%,0);
    height: 100%;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.1);
}

.hide-mobile li {
    opacity: 0;
    transition: 0.2s;
    transform: translateY(50px);
    
} 

header {
    display: flex;
    justify-content: space-between;
    justify-items: space-between;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    overflow: hidden;
}

.menu {
    width: 25px;
    margin-top: 1em;
    margin-right: 1em;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 25px;
    margin-right: 50px;
    margin-top: 30px;
    z-index: 50;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 55;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 40px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--black-colour);
    outline: var(--white-colour);
    border-radius: 2px;
    z-index: 50;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span.toggle-text {
    background: none;
    margin-top: -4px;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1); 
  }

  #menuToggle span.toggle-close {
    opacity: 0;
    background: none;
    font-family: var(--secondary-font);
    transform: translate(0,-20px);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline-width: 0px;
  }
  
  
  #menuToggle input:checked ~ span.toggle-1
  {
    opacity: 1;
    background: var(--black-colour);
  }
  
  #menuToggle input:checked ~ span.toggle-text
  {
    opacity: 0;
    transform: translate(0,-8px);
    background: none;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1); 
  }

  #menuToggle input:checked ~ span.toggle-close
  {
    opacity: 1;
    transform: translate(0,-28px);
    background: none;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1); 
    transition-delay: .1s;
    color: var(--black-colour);
  }

  #menuToggle input:checked ~ span.toggle-2
  {
    background-color: var(--black-colour);
  }

  #menuToggle input:checked ~ .hide-mobile
  {
    opacity: 1;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1); 
    transform: translate(0);
    border-radius: 0;
    height: 100%;
    display: block;
  }

 #menuToggle input:checked ~ .hide-mobile li
  {
    opacity: 1;
    transition: 1s cubic-bezier(0.23, 1, 0.32, 1); 
    transform: translateY(0);
    transition-delay: 1s;
  }

  #menuToggle input:checked ~ .hide-mobile li:nth-child(1) {
    transition-delay: 0.2s;
  }
  #menuToggle input:checked ~ .hide-mobile li:nth-child(2) {
    transition-delay: 0.4s;
  }
  #menuToggle input:checked ~ .hide-mobile li:nth-child(3) {
    transition-delay: 0.6s;
  }
  #menuToggle input:checked ~ .hide-mobile li:nth-child(4) {
    transition-delay: 0.8s;
  }

  #menuToggle input:checked ~ .hide-mobile li:nth-child(5) {
    transition-delay: 1s;
  }

  .dark-color#menuToggle span {
    background: var(--primary-colour);
  }

  .light-color#menuToggle span {
    background: var(--black-colour) !important;
  }

  .light-color#menuToggle span.toggle-text {
    color: var(--black-colour);
    background-color: transparent !important;
  }

nav {
    display: block;
position: relative;
}

.mobile-nav {
    background-color: black;
    transition: all 1s;
}

  nav ul {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--yellow);
    color: var(--black-colour);
    z-index: 7;
    text-align: left;
    padding-top: 100px;
    height: 100%; 
    font-family: var(--secondary-font), sans-serif;

}

nav ul img {
    width: 30px;
}

.menu-icon:hover {
    opacity: 50%;
}

nav ul li.menu-icon{
    margin-top: 20%;
}

.menu-icon::before {
    content: url(images/instagram.svg);
    display: block;
    width: 30px;
    margin-top: 30%;
    cursor: pointer;
}

nav ul li {
    width: 100%;
    margin-left: 20px;
    font-family: var(--primary-font);
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: .8em 10px;
    text-align: left;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1em;
}

.underline {
    text-decoration: underline;
}

.hover-underline {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline::after {
    content: '';
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height: 2px;
    bottom: 20%;
    left: 5%;
    background-color: var(--highlight-colour);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .logo-box-show .hover-underline::after {
    height: 2px;
  }
  
  .hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.container-scroll {
    scroll-snap-type: none;
    overflow-x: hidden;
    outline: 1px dashed lightgray;
    flex: none;
    flex-flow: column nowrap;
    height: 100vh;
    scroll-behavior: smooth;
    transition: scroll-behaviour 20s;
    background-color: var(--white-colour);
}


.scroll-snap-start {
    scroll-snap-align: start;
  height: 100%;
  flex: none;
  position: relative;
  scroll-snap-stop: always;
  background-color: var(--white-colour);
  scroll-snap-stop: always;
}

:root::-webkit-scrollbar{
    display: none;
  }
  
  :root {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
}

a img {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
}

.button-holder {
    text-align: center;
    cursor: pointer;
}

.button-holder.home {
    display: flex;
    justify-content: left;
    justify-items: left;
}

.button-holder-category {
    display: flex;
    justify-content: left;
    justify-items: left;
    gap: 10px;
    margin-bottom: 10px;
}

a.button {
    text-align: center;
    text-decoration: none;
    color: var(--white-colour);
    background-color: var(--black-colour);
    padding: 10px 30px;
    border-radius: var(--border-radius);
    margin: 0 auto auto auto;
    display: inline-block;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  text-shadow:  none;
  font-weight: 600;
  border-color: var(--black-colour);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  font-size: inherit;
  font-family: var(--secondary-font);
}

button.button {
    text-align: center;
    text-decoration: none;
    color: var(--white-colour);
    background-color: var(--black-colour);
    padding: 10px 30px;
    border-radius: var(--border-radius);
    margin: 0 auto auto auto;
    display: inline-block;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  text-shadow:  none;
  font-weight: 600;
  border-color: var(--black-colour);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  font-size: 1.2em;
}

.button:hover{
    /*transform: translateY(-5px); */
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: var(--white-colour);
  color: var(--primary-colour);
  border-color: var(--primary-colour);
}

.button.button-white {
    background-color: var(--white-colour);
    color: var(--primary-colour);
    border-color: var(--primary-colour);
    border-width: 1px;
    border-style: solid;
}

.button-white:hover{
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: var(--primary-colour);
  color: var(--white-colour);
  border-color: var(--white-colour);
}

.button-arrow {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .button-arrow::after{
    content: '';
    -webkit-mask: url(/images/arrow-small-light-blue.svg) no-repeat 50% 50%;
    mask: url(/images/arrow-small-light-blue.svg) no-repeat 50% 50%;
    background-color: var(--black-colour);
      display: inline-block;
      width: 14px;
      height: 14px;
      cursor: pointer;
      text-decoration: none;
      padding: none;
      margin: 0 0 0 8px;
      align-items: center;  
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    mask-size: cover;
    overflow: hidden;
  }
  .button-arrow:hover:after {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  transform: translateX(6px);
  background-color: var(--black-colour);
}

.white.button-arrow::after {background-color: var(--white-colour);}
.white.button-arrow:hover::after {background-color: var(--black-colour);}
.red.button-arrow::after {background-color: var(--white-colour);}

.button-white.button-arrow::after {
    background-color: var(--black-colour);
}

.button-white.button-arrow:hover:after {
    background-color: var(--white-colour);
}

.button-contact {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .button-white.button-contact:hover:after {
    content: url(../images/paperplane.svg);
}

  .button-white.button-contact::after {
    content: url(../images/paperplane-black.svg);
  }

  
  .button-contact::after{
      content: url(../images/paperplane.svg);
      display: inline-block;
      width: 14px;
      cursor: pointer;
      text-decoration: none;
      padding: none;
      margin: 0 0 0 8px;
      align-items: center;  
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .button-contact:hover::after {
    content: url(../images/paperplane.svg);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  transform: translate(6px, -8px);
}

.button-overlay {
    position: absolute;
    bottom: 10px;
    right: 1em;
}

.button-menu {
    background-color: var(--secondary-colour);
    color: var(--white-colour);
    transition: color .5s;
    overflow:hidden;
    border-radius: var(--border-radius);
    padding: 6px 2px 6px 2px;
    margin: auto;
}

.outside-link::after {
    content: '';
    -webkit-mask: url(/images/outside-link-blue.svg) no-repeat 50% 50%;
    mask: url(/images/outside-link-blue.svg) no-repeat 50% 50%;
    background-color: var(--black-colour);
      display: inline-block;
      width: 14px;
      height: 14px;
      cursor: pointer;
      text-decoration: none;
      padding: none;
      margin: 0 0 0 8px;
      align-items: center;  
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    mask-size: cover;
    overflow: hidden;
}

.outside-link:hover:after {
    background-color: var(--black-colour);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  transform: translate(2px, -2px);
}

.button-white.outside-link::after {
    background-color: var(--black-colour);
}

.button-white.outside-link:hover::after {
    background-color: var(--white-colour);
}



.block-white {
    background: var(--white-colour);
    color: var(--primary-colour);
    text-align: left;
    padding: 1em 0 1em 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
}

.block-full {
    display: flex;
    min-height: 100vh;
    margin: auto;
    align-items: center;
    text-align: left;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.block-half {
    display: flex;
    min-height: 50vh;
    margin: auto;
    align-items: center;
    text-align: left;
    justify-content: center;
}

.block-half-basic {
    min-height: 50vh;
    padding: 2em 0 2em 0;
}

.rounded {
    border-radius: var(--border-radius);
}

.block-margins {
    margin: 1em auto 1em auto;
}

.block-blue {
    background-color: var(--primary-colour);
    color: var(--white-colour);
}

.block-black {
    background-color: var(--black-colour) !important;
    color: var(--white-colour) !important;
}

.block-yellow {
    background-color: var(--secondary-colour) !important;
    color: var(--primary-colour) !important;
}

.block-green {
    background-color: var(--highlight-colour-2) !important;
    color: var(--primary-colour) !important;
}

.block-red {
    background-color: var(--highlight-colour) !important;
    color: var(--white-colour);
}


.block-pale {
    background-color: #EDEAE1;
}

.block-orange {
    background-color: #B56E28;
    color: var(--white-colour);
}

.block-photo {
    margin: 2em auto 2em auto;
    max-width: 1000px;
    width: 90%;
    height: 60%;
    color: #fafafa;
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    object-fit: cover;
}

.block-photo.stick-left {
    position: absolute;
    left: 0;
    width: 80%;
    margin: 0;
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    overflow: hidden;
}

.block-photo.stick-right {
    position: absolute;
    right: 0;
    width: 80%;
    margin: 0;
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
    overflow: hidden;
}

.block-photo-text {
    z-index: 2;
}


.block-photo-text.stick-right {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.block-photo-text.stick-left {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.block-photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-holder {
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.image-holder img {
    max-width: 240px;
}

.hero-slide-show {
    width: 90%;
    height: 70%;
}

.hero-carousel {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 1em;
    width: 90%;
    height: 60%;
    z-index: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.hero-carousel img {
    display: block;
    width: 100%;
    height: 100%;
}

.carousel-main {
    max-width: 90vw;
    width: 100%;
    height: 100%;
}


.carousel {
    background: #EEE;
    height: 100%;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    
  }
  
  .carousel img {
    display: block;
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: auto;
  }

  .carousel-image {
    
    flex: 100%;
    width: 100%;
}

.carousel-image img {
    height: 100%;
    width: 100%;
}   

  .carousel-text {
    flex: 100%;
    padding: 3em 1em 1em 1em;
    color: var(--black-colour);
    text-align: left;
}

  .carousel-cell {
    width: 80%;
    max-width: 800px;
    margin: 20px 10px 20px 20px;
    border-radius: var(--border-radius);
    background-color: var(--black-colour);
    padding: 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.tall-image {
max-height: 500px;
}

.hero-image-template {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    text-align: center;
    top: 0;
    max-width: 100%;
    background-color: var(--white-colour);
    overflow: hidden;
    z-index: -10;
    color: var(--white-colour);
}

.hero-image-template.bg-white {
    background-color: var(--white-colour);
    color: var(--primary-colour);
}

.bg-black {
    background-color: var(--black-colour);
    color: var(--white-colour);
}

.hero-image-template+.hero-image img {
    object-fit: contain;
    object-position: center;
    max-width: 100%;
}

.hero-image-template-alt {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-position: center;
    text-align: center;
    top: 0;
    max-width: 100%;
}

.hero-image-container {
    display: flex;
    height: 50vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.hero-image-container img {
    object-fit: cover;
    overflow: hidden;
    height: auto;
    width: 100%;
    max-height: 100%;
   

}

.home-text {
    position: absolute;
    left: 8%;
    top: 20%;
    text-align: left;
    text-decoration: none;
    width: 70%;
}

.home-text.home {
    position: relative;
    left: 0; top: 0;
    font-size: .8em;
    width: 90%;
    margin: 0;
    display: block;
}


.home-text.black {
    color: var(--black-colour);
}

.home-text h3 {
    text-transform: uppercase;
}

.home-text-lower {
    width: 100%;
    position: relative;
    text-align: left;
    color: var(--white-colour);
}

.scroll-down {
    position: absolute;
    width: 100px;
    bottom: 0;
    right: 0;
    background-color: var(--white-colour);
    color: var(--primary-colour);
    padding: 0.2em 2em 1em 2em;
    border-radius: 4px 0px 0 0;
    z-index: 5;
    font-family: var(--secondary-font), sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: all .2s;
    transform: translateY(10px);
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: var(--black-colour);
}

.scroll-down::after{
    content: url(../images/arrow-small-light.svg);
    display: inline-block;
    width: 14px;
    cursor: pointer;
    text-decoration: none;
    padding: none;
    margin: 0 0 0 8px;
    align-items: center;  
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  rotate: 90deg;
}

.scroll-down:hover {
    background-color: var(--black-colour);
    color: var(--white-colour);
    transition: all .2s;
    transform: translateY(0);
}

.scroll-down:hover::after {
    content: url(../images/arrow-small-light-white.svg);
}

.contact-ribbon {
    position: absolute;
    bottom: 10%;
    left: -40px;
    font-size: 1.2em;
    font-family: var(--secondary-font);
    z-index: 10;
    background-color: var(--black-colour);
    color: var(--white-colour);
    padding: 10px 20px 20px 20px;
    transition: all .2s;
    cursor: pointer;
    rotate: 90deg;
    transform: translate(0, 10px);
    border-radius: 4px;
}

.contact-ribbon:hover {
    transform: translate(0);
    transition: all .2s;
    background-color: var(--white-colour);
    color: var(--black-colour);
}

.ribbon-to-top {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 10%;
    right: 10px;
    z-index: 10;
    background-color: var(--secondary-colour);
    color: var(--black-colour);
    transition: all .2s;
    cursor: pointer;
    border-radius: 50%;
    border: #000;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.ribbon-to-top::after {
    content: url(../images/arrow-small-light.svg);
    width: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: none;
    margin: none;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    rotate: -90deg;    
}

.ribbon-to-top:hover {
    transform: translate(0);
    transition: all .2s;
    background-color: var(--white-colour);
    color: var(--black-colour);
}

.ribbon-to-top:hover::after{
    content: url(../images/arrow-small-light.svg);
    transform: translate(4px);
}

.overlay-text-right {
    position: absolute;
    text-align: left;
    left: 50%;
    bottom: 15%;
    color: #fff;
    z-index: 0;
    padding-bottom: 0;
}

.overlay-text-bottom {
    position: absolute;
    text-align: left;
    bottom: 5%;
    color: #fff;
    z-index: 0;
    padding-bottom: 0;
    max-width: 1000px;
    overflow: hidden;
    padding-left: 1em;
}

.home-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.social-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.flex-normal {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.flex-normal-50 {
    flex: 20%;
    gap: 50px;
    padding: 10px;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.container-flex.home {
    width: 100%;
    height: 50%;
    max-width: 100vw;
    position: absolute;
    left: 0;
    top: 0em;
    padding: .2em;
    transition: all 1s;
}

.container-flex.home2{
    width: 100%;
    height: 100%;
    max-width: 100vw;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .2em;
    transition: all 1s;
}

.social-logo img {
    width: 40px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.social-logo img:hover {
    transform: translateY(-5px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;

}

.intro-home {display: none;}

.testimonial-holder {position: relative;}

p.quote {font-size: 2em;}

.quote::before{
    content: '“';
    font-family: var(--secondary-font);
}

.quote::after{
    content: '”';
    font-family: var(--secondary-font);
}


.testimonial-quote-mark::before{
    content: "“";
    display: block;
    cursor: pointer;
    margin-top: 40px;
    background-color: var(--highlight-colour);
    color: var(--white-colour);
    font-size: 10em;
    line-height: 4px;
    font-family: var(--primary-font);
}

.testimonial-client {
    font-family: var(--primary-font-italic);
    font-style: italic;
    font-weight: 200;
}

#testimonial {
    background-color: var(--white-colour);
    color: var(--black-colour);
    transition: all 4s;
    transition-delay: 20s;
}

.visible#testimonial {
    background-color: var(--black-colour);
    color: var(--white-colour);
    transition: all 2s;
    transition-delay: 2s;
}

.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
}

.grid-holder { 
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.grid-two {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.ethos.grid-two {
    width: 100%;
    display: grid; 
    grid-template-columns: 10% 80%; 
    grid-template-rows: 1fr; 
    grid-template-areas: 
        ". ."; 
    overflow: visible;
    gap: 20px;
}

.grid-three {
    display: grid;
    row-gap: 20px;
    column-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    align-items: start;
    -webkit-box-pack: center;
    justify-content: center;
}

.ethos.grid-three {margin-bottom: 4em;}

.services.grid-three{
    max-width: 1000px;
    column-gap: 8px;
}

.grid-two img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid-video {
    display: grid;
    gap: 80px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 80%;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto 0 auto;
}

.grid-book {
    display: grid;
    gap: 10px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto 0 auto;
    
}

.grid-book img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category{
    background-color: var(--black-colour);
    color: var(--white-colour);
    border-radius: 20px;
    padding: 8px 8px 8px 8px;
    width: fit-content;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    text-shadow: none;
    font-family: var(--secondary-font);
}

.category.green {
    background-color: var(--highlight-colour-2);
    color: var(--black-colour);
}

.category.yellow {
    background-color: var(--secondary-colour);
}

.category.red {
    background-color: var(--highlight-colour);
}

.category.transparent{background-color: none!important;}

.green {background-color: var(--green);}
.red {background-color: var(--red);}
.blue {background-color: var(--blue);}
.blue-light {background-color: var(--blue-light);}
.yellow {background-color: var(--yellow);}
.yellow-pale {background-color: var(--yellow-pale);}
.orange {background-color: var(--orange);}
.pink {background-color: var(--pink);}

.case-study-container {
    clip-path: inset(5rem);
    transition: clip-path 1s ease 0s;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: url(/images/arrow-small-light.svg), auto;
}

.case-study-container.visible {
  inset: 0px;
  overflow: hidden;
  transition: clip-path 1s ease-in-out 0s;
  clip-path: inset(0px);
  transition-delay: .8s;
}

.case-study-text-container {
    height: 100%;
}

.case-study-text {
    z-index: 10;
    position: absolute;
    left: 0;
    padding: 1em;
    bottom: 40%;
    display: flex;
    color: var(--white-colour);
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 800px; 
    max-width: 90%;
    background-color: rgba(24, 26, 24, .8);
    border-radius: var(--border-radius);
    overflow: hidden;
    text-shadow: 0px 0px .4rem rgba(0, 0, 0, .2);
}

.blur {
    backdrop-filter: blur(6px);
}

.case-study-text h2 {
    margin: auto;
    padding: 0 0 .4em 0;
}

.case-study-container img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.intro-container {
    background-color: rgba(24, 26, 24, .8);
  border-radius: var(--border-radius);
  padding: 2em;
}

.icon::after {
    width: 32px;
    height: 32px;
    display: inline-block;
    content: '';
    -webkit-mask-size: cover;
    mask-size: cover;
    overflow: visible;
}

.icon-heart::after { -webkit-mask: url(/images/icon-heart.svg) no-repeat 50% 50%;
    mask: url(/images/icon-heart.svg) no-repeat 50% 50%;}

.icon-rocket::after { -webkit-mask: url(/images/icon-rocket.svg) no-repeat 50% 50%;
    mask: url(/images/icon-rocket.svg) no-repeat 50% 50%;}

.icon-leaf::after { -webkit-mask: url(/images/icon-leaf.svg) no-repeat 50% 50%;
    mask: url(/images/icon-leaf.svg) no-repeat 50% 50%;}

.icon-green::after {
    background-color: var(--highlight-colour-2);
  }
.icon-black::after {
    background-color: var(--black-colour);
}

.icon-white::after {
    background-color: var(--white-colour);
    transition: all 2s;
    transition-delay: 2s;
}

.icon-footer::after {
    height: .8em !important;
    width:  .8em !important;
    background-color: var(--white-colour) !important;
}

.popup-gallery {
    display: grid;
    gap: 1em;
    -webkit-box-flex: 1;
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    min-height: 0;  /* NEW */
  min-width: 0;   /* NEW; needed for Firefox */
  margin: 0 auto 0 auto;
  justify-content: center;
  width: 100%;
  max-width: 90%;
}

.popup-gallery.one-two{
    grid-template-columns: repeat(1, 1fr);
}

.popup-gallery-item {
    width: 100%;
    height: 100%;
    max-width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.popup-gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
    border-radius: var(--border-radius);
}

.popup-gallery.one-two img{
    height: 100%;
    width: auto;
}

.popup-gallery img:hover {
    opacity: 50%;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.photo-container {
    width: 100%;
    height: 100%;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

#portfolio .photo-container img {
    object-fit: contain;
}

.image-link:hover {
    opacity: .8;
}

.item-wrap {
    overflow: hidden;
    position: relative; 
    border-radius: var(--border-radius);
   width: 100%;
   height: 300px;
   cursor: pointer;
}

.portfolio-item {
    padding: 1em;
}

.item-wrap a img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
    
  }

  /* overlay */
 .portfolio-item .item-wrap .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 
     opacity:0;
     -moz-opacity: 0;
     filter:alpha(opacity=0);
 
    -webkit-transition: opacity 0.3s ease-in-out;
     -moz-transition: opacity 0.3s ease-in-out;
     -o-transition: opacity 0.3s ease-in-out;
     transition: opacity 0.3s ease-in-out;
     cursor: pointer;
 }

 .portfolio-item .overlay-lower {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

    opacity:1;
    -moz-opacity: 1;
    filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    color: var(--white-colour);
    font-family: var(--secondary-font), sans-serif;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 40%);

}

 .portfolio-item .portfolio-item-meta { 
    font-family: var(--secondary-font), sans-serif;
    color: var(--white-colour);
    position: absolute;
    bottom: 5%;
    left: 5%;
    transform: translate(0, 20px); 
    transition: all .3s;

}

.portfolio-item-meta a{
    color: var(--white-colour)
}
/* on hover */
.portfolio-item:hover .overlay {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s;
}

.portfolio-item:hover .overlay-lower {
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
  transition: all .3s;
  
}

.portfolio-item:hover .link-icon {
   opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}

.portfolio-item:hover .portfolio-item-meta {
  transform: translate(0, 0); 
}

.portfolio-item:hover .item-wrap img {

    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  
    filter: blur(2px);
  
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  
  .portfolio-item:hover .item-wrap .icon-plus {
   
     filter: blur(0px);
   }
  
  .item-wrap img {
     -webkit-transition: 0.4s ease;
     transition: 0.4s ease;
     height: 100%;
     width: 100%;;
     object-fit: cover;
  }

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
  
  .youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.album-art {
    box-sizing: content-box;
    box-shadow: rgba(0, 0, 0, .8) 0px 30px 30px;
    max-width: 100%;
    align-self: center;
}

.bg-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.0) 40%);
    transition: opacity 0.3s ease-in-out;
}

.card > .bg-gradient {
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.0) 60%);
}

.bg-gradient-T-B {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.0) 40%);
    transition: opacity 0.3s ease-in-out;
}

.gradient-T-B {
    background: linear-gradient(180deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 30%);
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
}

.gradient-T-B#home-gradient {display: none;}


.bg-gradient-L-R {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.0) 90%);
    transition: opacity 0.3s ease-in-out;
    z-index: 3;
}

.bg-gradient-L-R.yellow {
    background: linear-gradient(90deg, rgba(255, 197, 43, .4) 0%, rgba(0,0,0,0.0) 90%);
}

.bg-overlay-full {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--black-colour);
    opacity: 0%;
    transition: opacity 2s ease;
    z-index: 3;
    color: var(--white-colour) !important;
}

.bg-overlay-full.visible {
    opacity: .2;
}

.bg-overlay-full.yellow {
    background: var(--secondary-colour);
    color: var(--black-colour) !important;
}

.yellow {
    color: var(--black-colour) !important;
}

.bg-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-colour);
    opacity: 10%;
    border-radius: var(--border-radius);
}

.container-gap {
    display: block;
  overflow: hidden;
  max-width: 100%;
  height: 4rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.card-container {
    display: grid;
    gap: 3em;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 80%;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto 0 auto;
    padding: 1em;
    overflow: visible;
}

.card {
background-color: var(--black-colour);
  height: 400px;
  border-radius: var(--border-radius);
  color: var(--white-colour);
  margin: 1em;
  overflow: hidden;
  text-align: left;
  position: relative !important;
  max-width: 90%;
  display: block;
}

.card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 200ms ease-in-out;
    z-index: -1;
}

a.card-a:hover > .card img {
    transform: scale(1.05);
    transition: all 300ms ease-in-out;
    z-index: -1;
}

.card h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-colour);
    text-decoration: underline;
    text-decoration-color: var(--highlight-colour);
    text-decoration-thickness: 4px;
}

.card-text {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
    position: absolute;
  bottom: 10px;
  left: 1em;
  color: var(--white-colour);
}

.flex-item-right, .flex-item-left {
    flex: 100%;
  }


.card ul {
    list-style: square;
    padding-left: 1em;
}

.accordion-content ul {
    list-style: square;
    padding-left: 1em;
}

.subtitle {
    text-transform: uppercase;
}

h2.subtitle {
    font-size: 1.2rem;
    line-height: .2rem;
    margin-bottom: 0;
}








.footer {
    width: 90%;
    height: auto;
    background-color: var(--white-colour);
    color: var(--white-colour);
    padding: 2em 0 4em 0;
    margin: 0 auto 1em auto;
    font-family: var(--secondary-font);
    position: relative;
    background-color: var(--black-colour);
    border-radius: var(--border-radius);
}

.footer a {
    color: inherit;
    cursor: pointer;
    overflow: hidden;
}

.footer h2 {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    line-height: 1em;
    font-family: var(--secondary-font);
    font-weight: 600;
}

.footer h3 {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.footer-grid {
    padding: 1em 2em 1em 2em;
    display: grid;
    row-gap: 30px;
    column-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    margin: 0 auto 0 auto;
    text-align: left;
    max-width: 1000px;

}

.footer a:hover {
    text-decoration: underline;
    text-decoration-color: var(--highlight-colour);
    text-decoration-thickness: 2px;
}

.copyright {
    text-align: center;
    font-weight: 500;
    font-size: .8rem;
}

.divider-holder {
    width: 100%;
    height: 100%;
    min-height: 100px;
background-color: inherit;
bottom: 0;
z-index: 2;
}

.divider-clipped-ribbon {
    height: 600px;
    width: 100%;
    clip-path: polygon(0 90%, 100% 80%, 100% 90%, 0 100%);
    bottom: -60px;
    position: absolute;

  }


.divider-clipped {
    height: 100px;
    width: 100%;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 100%);
    bottom: 0;
    z-index: 2;
    margin-top: -1px;
    margin-bottom: -1px;

  }


  .divider-white {
    background-color: var(--white-colour);
  }

  .divider-yellow {
    background-color: var(--secondary-colour);
  }

  .divider-home {
    background-color: var(--white-colour);
    position: absolute;
  }

  .divider-white {
    background-color: var(--white-colour);
  }

  .divider-yellow {
    background-color: var(--secondary-colour);
  }

.accordion {
    cursor: pointer;
}
  

button.accordion {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    color: inherit;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: var(--white-colour);
    margin-bottom: -4em;
    margin-top: 0;
  }
  
  button.accordion:before {
    content: "+";
    font-size: 24px;
    float: left;
    transition: 0.6s ease-in-out;
    font-weight: 600;
    margin: auto 0.2em auto 0;
    display: flex;
    align-items: center;
  }
  
  button.accordion.is-open:before {
    transform: rotate(90deg);
    transition: 0.6s ease-in-out;
  }
  
  button.accordion:hover,
  button.accordion.is-open {
    background-color: none;
  }
  
  .accordion-content {
    padding: 0;
    max-height: 0;
    margin: 0;
    margin-left: 2em;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
  }

  .carbonbadge {
    margin-left: 0;
    margin-bottom: 1em;
  }

  #wcb.carbonbadge {
    color: var(--black-colour) !important;
    font-family: var(--primary-font) !important;
  }

  #wcb #wcb_a {
    background: var(--black-colour) !important;
    border-color: var(--white-colour) !important;
  }

  #wcb #wcb_g {
    color: var(--black-colour)!important;
    background: var(--white-colour) !important;
    border-color: var(--white-colour) !important;
  }

  #wcb #wcb_2 {color: var(--white-colour)!important;}

  .form-full {
    margin: 0 auto 0 auto;
    padding: 1em;
  }

  .form-container {
    width: 100%;
    max-width: 700px;
      /*margin-top:90px;
    margin-bottom: 30px;*/
    display: block;
  }
  .form-row {
    font-family: var(--secondary-font);
    font-weight: 500;
    margin-bottom: 2em;
  }
    .input-field {
        font: var(--secondary-font);
        border-style: solid;
        border-color: var(--black-colour);
        border-radius: var(--border-radius);
        border-width: .1px;
        padding: 0.2em;
        margin-left: 2em;
        font-size: 16px;
    }

    ::placeholder {
        font-family: var(--secondary-font);
        color: var(--black-colour);
        font-size: 16px;
    }

    .project {
        width: 100%;
        max-width: 1000px;
        height: 300px;
        vertical-align: top;
        max-width: 100%;
        margin-left: 0;
        margin-top: 1em;
    }

    .place {
        font-family: var(--secondary-font);
        font-size: 16px;
    }




@media only screen and (min-width: 650px) { 
    .hide-desktop {
        display: none;
    }

    .intro-home { p font-size: 1.8em; display: block;}
    

    .show-mobile {
        display: block;
    }

    .grid-video {
        display: grid;
        gap: 80px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 1000px;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto 0 auto;
    }

    .grid-book {
        display: grid;
        gap: 20px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 1200px;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto 0 auto;
    }

    button.accordion:before {
        content: "+";
        font-size: 32px;
        float: left;
        transition: 0.6s ease-in-out;
        font-weight: 600;
        margin: auto 0.2em auto 0;
        display: flex;
      align-items: center;
      cursor: pointer;
      }

      .block-photo.stick-left {
        width: 60%;
    }
    
    .block-photo.stick-right {
        width: 60%;
    }

    .popup-gallery.one-two{
        grid-template-columns: repeat(2, 1fr);
    }


}



@media only screen and (min-width: 900px) {
    .hide-desktop {
        display: none;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.2em;
    }
    
    h1 {
        font-size: 3rem;
        font-weight: 600;
    }
    
    h2 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-family: var(--secondary-font);
        font-weight: 500;
    }

    .show-desktop {
        display: block;
        opacity: 1;

        transform: translate(0);
    }

    .mobile-nav {
        background-color: transparent;
    }

    .grid-two {
        grid-template-columns: repeat(2, 1fr);
    }    
    .ethos.grid-two{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: ".";
    }

    .grid-three {
        grid-template-columns: repeat(3, 1fr);
    }    

    .footer-grid {
        gap: 80px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
    
    }

    nav {
        margin: 0;
        display: block;
        padding: 0;
        overflow: hidden;
    }

    nav ul {
        position: relative;
        background: none;
        height: 0em;
        display: inline-block;
        object-position: right;
        padding-top: 0;
        padding-right: 0;
        margin: 0;
        width: 100%;
        top: 0;
        right: 2%;      
        background-color: var(--secondary-colour);
        border-radius: 24px;
    }

    nav ul li {
        text-align: center;
        display: inline-block;
        padding: 8px 24px 8px 24px;
        margin: 0;
        width: auto;
        font-family: var(--secondary-font);
    }

    nav ul li a {
        color: var(--black-colour);
        background-color: inherit;
        text-align: center;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 1.2em; 
        padding: 0;
    }

    .home ul li a {
        color: var(--black-colour);
    }

    nav ul li a:hover {
        background-color: inherit;
        color: var(--white-colour);
    
    }

    .hover-fill {
        position: relative;
        display: inline-block;
        transition: color .5s;
        overflow:hidden;
        border-radius: var(--border-radius);
        cursor: pointer;
      }
      .hover-fill:before {
        content: '';
        position: absolute;
        bottom: 10px; left: 0;
        width: 100%; height: 2px;
        z-index: -1;
        transform-origin:0 0 ;
        transform:translateX(-110%);
        transition: transform .5s;
        border-radius: var(--border-radius);

        background-color: var(--secondary-colour);
        color: white;
        cursor: pointer;
      }
      
      .hover-fill:hover:before {
        transform: translateX(0);
        border-radius: var(--border-radius);
      }

      .hover-underline {
        display: inline-block;
        position: relative;
      }
      
      .hover-underline::after {
        content: '';
        position: absolute;
        width: 90%;
        transform: scaleX(0);
        height: 4px;
        bottom: 0;
        z-index: -5;
        left: 5%;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      .logo-box-show .hover-underline::after {
        height: 4%;
      }
      
      .hover-underline:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .button-menu {
        background-color: var(--secondary-colour);
        color: white;
        position: relative;
        display: inline-block;
        transition: color .5s;
        overflow:hidden;
        border-radius: var(--border-radius);
        width: 100%;
        padding: 6px 2px 6px 2px;
    }

    .button-menu:hover {
        transition: all .5s;
        background-color: var(--primary-colour);
        color: var(--white-colour);
      }

      .button-menu:hover:before {
        transform: translateX(0);
        border-radius: var(--border-radius);
      }

    #menuToggle {
        margin-right: 20px;
    }

    #menuToggle span{
        display: none;
    }

   #menuToggle input ~ .hide-mobile li
    {
      opacity: 1;
      transform: translateY(0);
    } 

    .hide-mobile {
        display: flex;
        box-shadow: none;
    }

    .hero-image-template-alt {
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        background-position: center;
        text-align: center;
        top: 0;
        max-width: 100%;
    }

    .hero-image-container {
        height: 100vh;
    }

    .hero-image-container img {
        max-width: 800px;
    }

    .tour-item {
        flex: 25%;
    }

    .card-container {
        display: grid;
        gap: 2em;
        -webkit-box-flex: 1;
        flex-grow: 1;
        width: 80%;
        max-width: 1000px;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto 0 auto;
    }

    .hero-slide-show {
        width: 90%;
        height: 70%;
    }
    
    .hero-carousel {
        position: absolute;
        width: 50%;
        height: 80%;
        z-index: 0;
        right: 1em;
        left: auto;
        bottom: auto;
        top: auto;
        border-radius: var(--border-radius);
    }

    .carousel img {
        display: block;
        object-fit: cover;
        overflow: hidden;
        height: 100%;
        width: auto;
      }

    .home-text.home {
        width: 100%;
        font-size: 1rem;
        padding: 1em;
    }

    .container-flex.home {
        width: 50%;
        height: 100%;
        left: 0;
        transition: all 1s;
    }

    .container-flex.home2 {
        width: 100%;
        height: 100%;
        right: 0;
        transition: all 1s;
    }
    
    .sticky.sticky-mobile {
        position: relative;
    }

    .gradient-T-B#home-gradient {display: block;}

    #book-cover.container-short {
        max-width: 1200px;
    }

}

